.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-bottom: 100px;
  & .title {
    text-align: center;
  }
  &Time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--bg-dark);
    margin-bottom: 20px;
  }
}