.wrapper {
  flex: 1 1 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s all ease;
  background-color: var(--bg-dark);
  cursor: pointer;
}

.active {
  background-color: var(--bg);
}

